*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eeeeee;
    background-size: auto;
}
.nav{
    display: flex;
    background-color: #00adb5;
    height: 59px;
    width: 100vw;
}

.links{
    display: flex;
    margin-right: 13px;
}

.links a{

    text-decoration: none;
    color: #eeeeee;
    padding: 17px 26px;
    font-size: 19px;
    transition: 0.1s all;
}

.links a:hover{
    background-color: #006a71;
    font-size: 21px;
    border-radius: 5px;
}

.search{
    padding: 12px;
}

#mysearch{
    border: none;
    background-color: #eeeeee;
    border-radius: 20px;
    width: 350px;
    height: 30px;
    font-size: 20px;
    outline: none;   
}
.sbutton{
    padding: 6px;
    background-color: #00adb5;
    border-radius: 50%;
    border: none;
}
#sbtn{
    font-size: 20px;
}
.sbutton:hover{
    background-color: #00acb5e5;
}

#logo{
    background: none;
    font-size: 37px;
    border-radius: 200px;
    border: none;
    margin-right: 0px;
    outline: none;
    width: 37px;    
    height: 37px;
}

.icon{
    padding: 11px;
}
.fa-color{
    color: #eeeeee;
}
